*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.container{
    position:relative;
    width: 930px;
    height: 660px;
    border: 2px solid white;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: inherit;
}
.box{
    color: #fff;
    width: 280px;
    height: 190px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.6em;
    font-weight: 800;
}
.tpft{
    justify-content:flex-start;
    align-items: flex-start;
}
.tpcnt{
    justify-content:center;
    align-items: flex-start;
}
.tprht{
    justify-content:flex-end;
    align-items: flex-start;
}
.cntlft{
    justify-content:flex-start;
    align-items: flex-start;
}
.cntcnt{
    justify-content:center;
    align-items: flex-start;
}
.cntrgt{
    justify-content:flex-end;
    align-items: flex-start;
}
.dwnlft{
    justify-content:flex-start;
    align-items: flex-start;
}
.dwncnt{
    justify-content:center;
    align-items: flex-start;
}
.dwnrgt{
    justify-content:flex-end;
    align-items: flex-start;
}